# -------------------------
# Python cache / build
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
build/
dist/

# -------------------------
# Virtual environment
# -------------------------
.venv/
venv/
env/

# -------------------------
# IDE / editor
# -------------------------
.vscode/
.idea/

# -------------------------
# OS junk
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# App-specific
# -------------------------
downloads/
history.json
ffmpeg/        # Ignore local ffmpeg binaries
*.mp4
*.mp3
*.webm
*.mkv
*.avi
*.wav
*.m4a
*.part
*.ytdl

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Temporary / misc
# -------------------------
*.tmp
*.bak
*.swp
